docs/integrations/n8n/visionquest-concern-teams.json
{
  "name": "VisionQuest — concern → Teams",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "visionquest-concern",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a00000-0000-4000-8000-000000000001",
      "name": "VisionQuest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "visionquest-concern"
    },
    {
      "parameters": {
        "jsCode": "// Verify VisionQuest's HMAC-SHA256 signature before doing anything.\n// VisionQuest signs JSON.stringify(envelope); for our ASCII payloads,\n// re-stringifying the parsed body reproduces the exact bytes.\nconst crypto = require('crypto');\nconst secret = $env.VISIONQUEST_WEBHOOK_SECRET || '';\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst sig = headers['x-visionquest-signature'] || '';\nconst body = item.body;\nconst raw = typeof body === 'string' ? body : JSON.stringify(body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(raw, 'utf8').digest('hex');\nlet valid = false;\ntry {\n  valid = sig.length === expected.length &&\n    crypto.timingSafeEqual(Buffer.from(sig), Buffer.from(expected));\n} catch (e) { valid = false; }\nconst envelope = typeof body === 'string' ? JSON.parse(body) : body;\nreturn [{ json: { valid, type: envelope.type, data: envelope.data || {} } }];"
      },
      "id": "f1a00000-0000-4000-8000-000000000002",
      "name": "Verify signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a00000-0000-4000-8000-000000000003",
      "name": "Signature valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"message\",\n  \"attachments\": [{\n    \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n    \"content\": {\n      \"type\": \"AdaptiveCard\",\n      \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n      \"version\": \"1.4\",\n      \"body\": [\n        { \"type\": \"TextBlock\", \"size\": \"Medium\", \"weight\": \"Bolder\", \"text\": \"⚠️ Sage flagged a student concern\" },\n        { \"type\": \"TextBlock\", \"wrap\": true, \"text\": \"A student may need a check-in. Open their profile in VisionQuest to see the detail.\" },\n        { \"type\": \"FactSet\", \"facts\": [\n          { \"title\": \"Student\", \"value\": \"{{ $json.data.studentId }}\" },\n          { \"title\": \"Confidence\", \"value\": \"{{ $json.data.confidence }}\" }\n        ]}\n      ],\n      \"actions\": [\n        { \"type\": \"Action.OpenUrl\", \"title\": \"Open student\", \"url\": \"{{ $env.VISIONQUEST_BASE_URL }}{{ $json.data.link }}\" }\n      ]\n    }\n  }]\n}",
        "options": {}
      },
      "id": "f1a00000-0000-4000-8000-000000000004",
      "name": "Post to Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "ok", "options": { "responseCode": 200 } },
      "id": "f1a00000-0000-4000-8000-000000000005",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1140, 220]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "invalid signature", "options": { "responseCode": 401 } },
      "id": "f1a00000-0000-4000-8000-000000000006",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 440]
    }
  ],
  "connections": {
    "VisionQuest Webhook": { "main": [[{ "node": "Verify signature", "type": "main", "index": 0 }]] },
    "Verify signature": { "main": [[{ "node": "Signature valid?", "type": "main", "index": 0 }]] },
    "Signature valid?": {
      "main": [
        [{ "node": "Post to Teams", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Post to Teams": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
